.App {
  text-align: center;
}

.circle{
  position:absolute;
  top:50vh;
  left:50vw;
  height:10vw;
  width:10vw;
  transform:translate(-50%, -45vh);
  border-radius: 50%;
  background-image: linear-gradient(red, yellow);
  animation: circle-start 5s 0s, circle-start-2 5s 5s;
  z-index:100;
}

#circle2{
  transform:rotate(90deg) translate(-50%, -45vh);
  background-image: linear-gradient(blue, yellow);
  z-index:99;
  animation: circle-start 5s 0s, circle-start-2 5s 5s, circle2 5s 10s;
}

#circle3{
  transform:rotate(180deg) translate(-50%, -45vh);
  background-image: linear-gradient(green, yellow);
  z-index:98;
  animation: circle-start 5s 0s, circle-start-2 5s 5s, circle2 5s 10s;
}



@keyframes circle-start {
  0% {
    transform:rotate(0) translate(-50%, -50%);
    top:50vh;
    height:0vw;
    width:0vw;
  }
  100% {
    transform:rotate(0) translate(-50%, -50%);
    top:50vh;
    height:10vw;
    width:10vw;
  }
}

@keyframes circle-start-2 {
  0%{
    transform:rotate(0) translate(-50%, -50%);
  }
  100%{
    transform:rotate(0) translate(-50%, -45vh);
  }
}

@keyframes circle2 {
  0%{
    transform:rotate(0) translate(-50%, -45vh);
  }
  100%{
    transform:rotate(0) translate(-50%, -45vh);
  }
}

