.App {
  text-align: center;
}

.line{
  transform-origin: top left;
  height:57.3416vh;
  transform:rotate(-35deg);
  border:solid black 2px;
  width: 0px;
  z-index:1;
  position:absolute;
  top:50%;
  left:50%;
}

.lineContainer{
    position: absolute;
    transform: translateY(-35vh);
    animation: circle-start 1s 0s, circle-start-2 1s 1s;
    z-index: 0;
    height: 10vw;
    width: 10vw;
}

#lineContainer2{
  transform: rotate(70deg) translateY(-35vh);
  animation: circle-start 1s 0s, circle-start-2 1s 1s, circle2 0.97222222222s linear 2s;
}

.line2{
  height:70vh;
  transform:translate(5vw, 5vw);
  border:solid black 2px;
  width: 0px;
  z-index:1;
}

.line3{
  height:70vh;
  transform:rotate(180deg) translate(-5vw, 5vw);
  border:solid black 2px;
  width: 0px;
  z-index:1;
}

.line4{
  transform-origin: top left;
  height:57.3416vh;
  transform:rotate(35deg);
  border:solid black 2px;
  width: 0px;
  z-index:1;
  position:absolute;
  top:50%;
  left:50%;
}

.line5{
  transform-origin: top left;
  height:57.3416vh;
  transform:rotate(-35deg);
  border:solid black 2px;
  width: 0px;
  z-index:1;
  position:absolute;
  top:50%;
  left:50%;
}

.line6{
  height:70vh;
  transform:rotate(180deg) translate(-5vw, 5vw);
  border:solid black 2px;
  width: 0px;
  z-index:1;
}

.circleContainer{
  position:absolute;
  top:50vh;
  left:50vw;
  transform:translate(-50%, -50%);
  height:10vw;
  width:10vw;
  z-index:100;
}

.circle{
  position:absolute;
  transform:translateY(-35vh);
  animation: circle-start 1s 0s, circle-start-2 1s 1s;
  z-index:100;
  height:10vw;
  width:10vw;
}

.circleContent{
  height:100%;
  width:100%;
  position:relative;
  border-radius: 50%;
  background-image: linear-gradient(red, yellow);
}

#circle2{
  transform:rotate(70deg) translateY(-35vh);
  z-index:99;
  animation: circle-start 1s 0s, circle-start-2 1s 1s, circle2 0.97222222222s linear 2s;
  height:10vw;
  width:10vw;
}

.circleContent2{
  height:100%;
  width:100%;
  border-radius: 50%;
  background-image: linear-gradient(blue, yellow);
}

#circle3{
  transform:rotate(110deg) translateY(-35vh);
  z-index:97;
  animation: circle-start 1s 0s, circle-start-2 1s 1s, circle3 1.52777777778s linear 2s;
  height:10vw;
  width:10vw;
}

.circleContent3{
  height:100%;
  width:100%;
  border-radius: 50%;
  background-image: linear-gradient(green, yellow);
}

#circle4{
  transform:rotate(180deg) translateY(-35vh);
  z-index:96;
  animation: circle-start 1s 0s, circle-start-2 1s 1s, circle4 2.5s linear 2s;
  height:10vw;
  width:10vw;
}

.circleContent4{
  height:100%;
  width:100%;
  border-radius: 50%;
  background-image: linear-gradient(green, purple);
}

#circle5{
  transform:rotate(250deg) translateY(-35vh);
  z-index:95;
  animation: circle-start 1s 0s, circle-start-2 1s 1s, circle5 3.47222222222s linear 2s;
}

.circleContent5{
  height:100%;
  width:100%;
  border-radius: 50%;
  background-image: linear-gradient(blue, white);
}

#circle6{
  transform:rotate(290deg) translateY(-35vh);
  z-index:94;
  animation: circle-start 1s 0s, circle-start-2 1s 1s, circle6 4.02777777778s linear 2s;
  height:10vw;
  width:10vw;
}

.circleContent6{
  height:100%;
  width:100%;
  border-radius: 50%;
  background-image: linear-gradient(red, pink);
}



@keyframes circle-start {
  0% {
    top:50%;
    left:50%;
    transform:translateY(0);
    height:0vw;
    width:0vw;
  }
  100% {
    transform:translateY(0);
    top:0%;
    left:0%;
    height:10vw;
    width:10vw;
  }
}

@keyframes circle-start-2 {
  0%{
    transform:rotate(0) translateY(0);
  }
  100%{
    transform:rotate(0) translateY(-35vh);
  }
}

@keyframes circle2 {
  0%{
    transform:rotate(0) translateY(-35vh);
  }
  100%{
    transform:rotate(75) translateY(-35vh);
  }
}

@keyframes circle3 {
  0%{
    transform:rotate(0) translateY(-35vh);
  }
  100%{
    transform:rotate(105) translateY(-35vh);
  }
}

@keyframes circle4 {
  0%{
    transform:rotate(0) translateY(-35vh);
  }
  100%{
    transform:rotate(180) translateY(-35vh);
  }
}

@keyframes circle5 {
  0%{
    transform:rotate(0) translateY(-35vh);
  }
  100%{
    transform:rotate(255) translateY(-35vh);
  }
}

@keyframes circle6 {
  0%{
    transform:rotate(0) translateY(-35vh);
  }
  100%{
    transform:rotate(285) translateY(-35vh);
  }
}

